
<table>
  <tr>
    <th style="text-align: center; width: 170px">
      <b> [{{ entry.series }}] </b>
      <div>
        {% if entry.type == "article" %}
        <button style="background-color: #008CBA; border-radius: 8px; "> <b> journal</b></button>

        {% elsif entry.type == "inbook" %}
          <button style="background-color: #555555; border-radius: 8px; "> <b> bookch</b></button>

        {% elsif entry.type == "inproceedings" %}
          <button style="background-color: #4CAF50; border-radius: 8px; "> <b> conference</b></button>

        {% elsif entry.key contains "PATENT" %}
          <button style="background-color: #f44336; border-radius: 8px; "> <b> patent</b></button>

        {% elsif entry.key contains "PCT" %}

          <button style="background-color: #f44336; border-radius: 8px; "> <b> patent</b></button>

        {% elsif entry.type contains "thesis" %}

          <button style="background-color: #aacce4; border-radius: 8px; "> <b> thesis</b></button>
          
        {% elsif entry.type contains "techrep" %}

          <button style="background-color: #e7e7e7; color: black; border-radius: 8px; "> <b> tech. rep.</button>
        {% endif %} 
      </div>
    </th>
    <td>
      <div>
        {% if entry.howpublished %}
          <i class="fa fa-file-pdf-o" aria-hidden="true" href="{{entry.howpublished}}"></i> 
          <a href="{{entry.howpublished | regex: 'https://gallomassimo.github.io/'  }}" > <b> {{ entry.title }} </b></a> 
        {% else %}
          <b>{{ entry.title }}</b>
        {% endif %} 
      </div>
      <div>{{ entry.author }}</div>


      {% if entry.type == "article" %}
        {{ entry.journal }} {{ entry.year }}

      {% elsif entry.type == "inbook" %}

      {% elsif entry.type == "inproceedings" %}
        {{ entry.booktitle }} {{ entry.year }}

      {% elsif entry.key contains "PATENT" %}

      {% elsif entry.key contains "PCT" %}
        <b>{{ entry.year }}</b>

      {% elsif entry.type contains "theses" %}
        <b>{{ entry.year }}</b>
        
      {% elsif entry.type contains "techrep" %}
        <b>{{ entry.year }}</b>
      {% endif %} 

      <div>

        <details name="det" style="display: inline-block; ">
          <summary><i class="fa fa-book" aria-hidden="true"></i>  Bibtex</summary>
          <div class="content" ><p style="font-size: 1.1em"><pre>{{entry.bibtex}}</pre></p></div>
        </details> 
        {% if entry.abstract %}

            <details name="det" style="display: inline-block;">
              <summary><i class="fa fa-comment" aria-hidden="true"></i> Abstract</summary>
              <div class="content" ><p style="font-size: 1.1em">{{entry.abstract}}</p></div>
            </details>
        {% endif %}
      </div>
    </td>
  </tr>
</table>
